#
# You need to make a config.txt file with filled variables
# WARNING
# these variables must be modified in config.txt file
# to update crontab, you must execute make_cron.sh after modifying config.txt
#

PORT=19998
PAUSE=15
END=22
TOKEN=YOUR_TOKEN
HOST_FOTONOWER=jussieu.fotonower.com
BASENAME=refus
BASEFOLDER=/home/pi/Desktop/images
LOGFOLDER=/home/pi/.log
SHUTTER=0
DATOU_CLASS=533
FACTOR=0.1
THRESHOLD=120
#85 is default quality compression with picamera module
QUALITY=85
GPIOPIN1=17
GPIOPIN2=0
DATOU_ID_2=1038